<div class="flex-row">
  <div>class="flex-1">

    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="todo-list-title"></mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="flex-row gap-8 flex-wrap">
          <mat-form-field class="input-field">
            <mat-label>Body</mat-label>
            <input matInput placeholder="Filter by body"
              [ngModel]="todoBody()" (ngModelChange)="todoBody.set($event)">
            <mat-hint>Filterd on server</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Status</mat-label>
            <mat-select [ngModel]="todoStatus()" (ngModelChange)="todoStatus.set($event)">
              <mat-option [value]="undefined">All</mat-option>
              <mat-option [value]="true">Complete</mat-option>
              <mat-option [value]="false">incomplete</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>
        </div>

        <div class ="flex-row gap-8 flex-wrap">
          <mat-form-field class="input-field">
            <mat-label>Owner</mat-label>
            <input matInput placeholder="Filter by owner"
              [ngModel]="todoOwner()" (ngModelChange)="todoOwner.set($event)">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <input matInput placeholder="Filter by category"
              [ngModel]="todoCategory()" (ngModelChange)="todoCategory.set($event)">
            <mat-hint>Filtered on client</mat-hint>
          </mat-form-field>
        </div>

        <div class="flex-row gap-8 felx-wrap">
          <label for="viewType">View type:</label>
          <mat-radio-group [ngModel]="viewType()" (ngModelChange)="viewType.set($event)">
            <mat-radio-button value="card">Card</mat-radio-button>
            <mat-radio-button value="list">List</mat-radio-button>
          </mat-radio-group>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="flex-row">
  @if (serverFilteredTodos()) {
    <div class="flex-1">

      @switch(viewType()) {
        @case('card') {
          <div class="todo-cards-container felx-row gap-8 flex-wrap">
            @for(todo of filteredTodos(); track todo._id) {
              <mat-card class="todo-card">
                <mat-card-content>
                  <div><strong>Owner:</strong>{{ todo.owner}}</div>
                  <div><strong>Body:</strong>{{ todo.body}}</div>
                  <div><strong>Category:</strong>{{ todo.category}}</div>
                  <div><strong>Status:</strong>{{ todo.status ? 'Complete' : 'Incomplete'}}</div>
                </mat-card-content>
              </mat-card>
            }
          </div>
        }

        @case('list'){
          <mat-list>
            @for(todo of filteredTodos(); track todo._id) {
              <mat-list-item>
                {{ todo.owner }} - {{ todo.body }} - {{ todo.category }} - {{todo.status ? 'Complete' : 'Incomplete'}}
              </mat-list-item>
            }
          </mat-list>
        }
      }
    </div>
  } @else {
    <div class="flex-1 todo-error">
      <mat-error>There was a problem loading todos. Possible the server is down or network issues.</mat-error>
      <mat-error>Please wait a bit and try again or start the server.</mat-error>
    </div>
  }
</div>

<button mat-fab class="add-todo-fab" matTooltip="Add Todo" matTooltipPosition="left" routerlink="/todos/new">
  <mat-icon class="md-24" aria-label="Add Todo">add</mat-icon>
</button>


